@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/AdminLTE.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Skin/skin-blue.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/font-awesome/font-awesome.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/SpreadJS_CSS/gc.spread.sheets.excel2016colorful.10.0.1.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/select2/select2.min.css")" rel="stylesheet" />

<div class="row" id="main">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <div class="btn-group" style='width: 100%;'>
<<<<<<< .mine
                    <button class="btn btn-toolbar" type="button" id="OpenFile">
=======
                    <button class="btn btn-primary" type="button" id="OpenFile">
>>>>>>> .r1375
                        <span class="fa fa-folder-open"></span>&nbsp;打开文件
                    </button>
<<<<<<< .mine
                    <button class="btn btn-toolbar" type="button" id="Save">
=======
                    <button class="btn btn-primary" type="button" id="Save" disabled ="disabled">
>>>>>>> .r1375
                        <span class="fa fa-floppy-o"></span>&nbsp;保存
                    </button>
<<<<<<< .mine
                    <button class="btn btn-toolbar " type="button" id="Clear">
=======
                    @*<button class="btn btn-primary " type="button" id="Clear" disabled ="disabled">
>>>>>>> .r1375
                        <span class="fa fa-eraser"></span>&nbsp;清除
                    </button>*@
                </div>
                <div id='MianSpread' style='width: 100%; height: 750px;'></div>
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">保存</h4>
                            </div>
                            <form id="form" name="form" class="form-horizontal" action="#" method="post">
                                <div class="modal-body">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">选择工程:</label>
                                            <div class="col-sm-8">
<<<<<<< .mine
                                                <input class="form-control" id="txt_Name" name="Name" placeholder="工程">
=======
                                                <select class="form-control js-example-basic-single" style="width:100%" id="Choise_PJ">

                                                </select>
                                                @*<select class="form-control  select2" id="txt_Pro" style=" width:100%;">
                                                    <option value="1">于家堡</option>
                                                    <option value="2">宝马厂</option>
                                                </select>*@
>>>>>>> .r1375
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">立面图名称:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="txt_Code" name="Code" placeholder="立面图名称">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">幕墙结构类型:</label>
                                            <div class="col-sm-8">
                                                <select class="form-control  select2" id="txt_type" style=" width:100%;">
                                                    <option>单元</option>
                                                    <option>框架</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">备注:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="txt_Icon" name="Icon" placeholder="备注">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">启用</label>
                                            <div class="col-sm-8">
                                                <div class="checkbox">
                                                    <label>
                                                        <input id="chk_Enabled" type="checkbox" checked="checked" name="vehicle" value="Bike">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" id="btn_closefrom" data-dismiss="modal"><span class="fa fa-close" aria-hidden="true"></span>&nbsp;关闭</button>
                                    <button type="button" class="btn btn-primary" id="btn_submit"><span class="fa fa-save" aria-hidden="true"></span>&nbsp;保存</button>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>
            <div class="hidden">
                <input type="file" id="fileinput">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jQuery-2.2.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/dist/app.min.js"></script>
<script src="~/Scripts/SpreadJS/gc.spread.sheets.all.10.0.1.min.js"></script>
<script src="~/Scripts/SpreadJS/gc.spread.excelio.10.0.1.min.js"></script>
<script src="~/Scripts/SpreadJS/gc.spread.sheets.resources.zh.10.0.1.min.js"></script>
<script src="~/Scripts/select2/select2.min.js"></script>
<script src="~/Scripts/select2/zh-CN.js"></script>
<!--jq 增强div resize-->
<script src="~/Scripts/resize.js"></script>

<script type="text/javascript">
    var spread;
    var excelIo;
    var sheet;
    var FileLoad;
    $(function () {
        $('#OpenFile').click(function () {
            $('#fileinput').click();
        });
        $('#fileinput').change(function () {
            var file = this.files[0];
            if (file != null) {
                importFile(file);
                $('#Save').prop("disabled", false);
            }
        });
        spread = new GC.Spread.Sheets.Workbook(document.getElementById('MianSpread'), { sheetCount: 1 });
        excelIo = new GC.Spread.Excel.IO();
        sheet = spread.getActiveSheet();
        $.get('/CNYD_STRUCT_TREE/GetProInfo', function (result) {
            $("#Choise_PJ").select2({
                data: result.data,
                language: "zh-CN",
                placeholder: "请选择工程..."
            }).val(null).trigger("change");
        });
    });

    $('#main').resize(function () {
        spread.refresh();
    });
    $('#Save').click(function () {
        $('#myModal').modal();
    });
<<<<<<< .mine
        $('#Clear').click(function () {
            
            sheet = spread.getActiveSheet();
            var arr = sheet.getArray(0, 0, sheet.getRowCount(), sheet.getColumnCount());
            var newdata = new Array();
            for (var i = 0; i < sheet.getRowCount() ; i++)
            {
                var arr_link = new Array();
                arr_link = arr[i];
                for (var j = 0; j < sheet.getColumnCount() ; j++)
                {
                    if (arr_link[j] != null)
                    {
                        var Cell = new Object();
                        Cell.data = arr_link[j];
                        Cell.X = i;
                        Cell.Y = j;
                        newdata.push(Cell);
                    }
=======

    $('#btn_submit').click(function () {
        var HeadData = {}
        HeadData.Pro_id = $('#Choise_PJ').val();
        HeadData.View_Name = $('#txt_Name').val();
        HeadData.Strut_Type = $('#txt_type').val();
        HeadData.Note = $('#txt_Note').val();
        HeadData.ViewGUID = $('#hdGuid').val();
        HeadData.Enable = $('#chk_Enabled').prop('checked');
        if (HeadData.Pro_id == null || HeadData.Pro_id == '')
        {
            alert('请选择工程！');
            return;
        }
        var data = GetCelldata();
        //立面图转成josn
        var contact = JSON.stringify(spread.toJSON()).toString();
        $.post("/ExcelView/Save", { "HeadData": JSON.stringify(HeadData), "Celldata": JSON.stringify(data), "ExcelJson": contact },
            function (rel) {
                if (rel.mess == "success") {
                    alert("保存成功！");
                    $('#Save').prop("disabled", true);
                } else {
                    alert("保存失败！");
                }
        });
    });

    function GetCelldata() {
        sheet = spread.getActiveSheet();
        var arr = sheet.getArray(0, 0, sheet.getRowCount(), sheet.getColumnCount());
        var newdata = new Array();
        var hdGuid = $('#hdGuid').val();
        for (var i = 0; i < sheet.getRowCount() ; i++) {
            var arr_link = new Array();
            arr_link = arr[i];
            for (var j = 0; j < sheet.getColumnCount() ; j++) {
                if (arr_link[j] != null) {
                    var Cell = new Object();
                    Cell.CellValue = arr_link[j];
                    Cell.Cell_X = i;
                    Cell.Cell_Y = j;
                    Cell.ViewGUID = hdGuid;
                    newdata.push(Cell);
>>>>>>> .r1375
                }
            }
<<<<<<< .mine
=======
        }
>>>>>>> .r1375
        return newdata;
    }

<<<<<<< .mine
            $.each(newdata, function (i, n) {
                alert('值=' + n.data + ',X=' + n.X + ',Y=' + n.Y);
            });
            
            //spread.removeSheet(0);
=======
    $('#Clear').click(function () {
        //spread.removeSheet(0);
    });

    function importFile(file) {
        excelIo.open(file, function (json) {
            var workbookObj = json;
            spread.fromJSON(workbookObj);
        }, function (e) {
            // process error
            alert(e.errorMessage);
>>>>>>> .r1375
        });
    }
</script>

