@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/AdminLTE.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Skin/skin-blue.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/font-awesome/font-awesome.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/SpreadJS_CSS/gc.spread.sheets.excel2016colorful.10.0.1.css")" rel="stylesheet" />
@*<link href="@Url.Content("~/Content/SpreadJS_CSS/gcspread.sheets.excel2016colorful.9.40.20161.0.css")" rel="stylesheet" />*@
<link href="@Url.Content("~/Content/Tree/metroStyle.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/select2/select2.min.css")" rel="stylesheet" />

<div class="row">
    <div class="col-md-12" id="main_box">
        <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
                <h4 class="box-title" style="float:left;margin-top:5px">选择工程：&nbsp;&nbsp;</h4>
                <div style="width:200px;float:left">
                    <select class="form-control js-example-basic-single" style="width : 100%" id="Choise_PJ"></select>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fa fa-comments"></i>
                    </button>
                </div>
            </div>
            <div class="box-body box-profile">

                <div style="margin-left:1px; margin-top:5px;">
                    <div class="btn-group" style='width: 100%; margin-left:1px;margin-top:5px;margin-bottom:4px; '>
                        <button class="btn btn-primary" type="button" id="btn_add">
                            <span class="fa fa-plus"></span>&nbsp;添加
                        </button>
                        <button class="btn btn-primary" type="button" id="btn_Save">
                            <span class="fa fa-save"></span>&nbsp;保存
                        </button>
                        <button class="btn btn-primary " type="button" id="btn_Delete">
                            <span class="fa fa-times"></span>&nbsp;删除
                        </button>
                        @*<button class="btn btn-primary " type="button" id="btn_Flag">
                            <span class="fa fa-bookmark"></span>&nbsp;确认
                        </button>*@
                    </div>
                    <!--<div><button id='Save' type="button" class="btn btn-block btn-info" style='width: 50px;'>保存</button></div>-->
                    <div id='MianSpread' style='width: 100%; height: 630px;'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jQuery-2.2.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/dist/app.min.js"></script>
<script src="~/Scripts/SpreadJS/gc.spread.sheets.all.10.0.1.min.js"></script>
<script src="~/Scripts/SpreadJS/gc.spread.excelio.10.0.1.min.js"></script>
<script src="~/Scripts/SpreadJS/gc.spread.sheets.resources.zh.10.0.1.min.js"></script>
<!--jq 增强div resize-->
<script src="~/Scripts/resize.js"></script>
<!--ztree-->
<script type="text/javascript" src="~/Scripts/TreeView/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="~/Scripts/TreeView/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="~/Scripts/TreeView/jquery.ztree.exedit.min.js"></script>
<script src="~/Scripts/select2/select2.min.js"></script>
<script src="~/Scripts/select2/zh-CN.js"></script>

<script type="text/javascript">
    var spreadNS = GC.Spread.Sheets;
    var spread;
    var sheet;
    var TA_ID;
    var PJ_ID_;
    var colInfos = [
        { name: 'ID', size: 20, visible: false },
        { name: 'TA_ID', size: 20, visible: false },
        { name: 'Pro_ID', size: 20, visible: false },
        { name: 'BT_Code', displayName: 'BT编号', size: 80, visible: true, formatter: Text },
        { name: 'Description_EN', displayName: 'BT英文描述', size: 140, formatter: Text },
        { name: 'Description_CN', displayName: 'BT中文描述', size: 140, formatter: Text },
        { name: 'Units', displayName: '单位', size: 60, resizable: false, formatter: Text },
        { name: 'Qty', displayName: '数量', size: 60, resizable: false, formatter: Number },
        { name: 'Drawing', displayName: '图号', size: 100, resizable: true, formatter: Text },
        { name: 'Comments', displayName: '备注', size: 150, resizable: true, formatter: Text },
        { name: 'Dimension', displayName: '规格尺寸', size: 100, resizable: true, formatter: Text },
        { name: 'Specification', displayName: '材质、型号', size: 100, resizable: true, formatter: Text }
    ];
    $(function () {
        spread = new GC.Spread.Sheets.Workbook(document.getElementById('MianSpread'), { sheetCount: 1 });
        excelIo = new GC.Spread.Excel.IO();
        sheet = spread.getActiveSheet();
        sheet.setColumnCount(8, GC.Spread.Sheets.SheetArea.viewport);
        sheet.setRowCount(4, GC.Spread.Sheets.SheetArea.viewport);
        sheet.setColumnWidth(0, 80);
        sheet.setColumnWidth(1, 140);
        sheet.setColumnWidth(2, 140);
        sheet.setColumnWidth(3, 140);
        sheet.setColumnWidth(4, 140);
        sheet.setColumnWidth(5, 140);
        sheet.setColumnWidth(6, 140);
        sheet.setColumnWidth(7, 140);
        //列头文本
        sheet.setValue(0, 0, "回款编号", GC.Spread.Sheets.SheetArea.colHeader);
        sheet.setValue(0, 1, "回款描述", GC.Spread.Sheets.SheetArea.colHeader);
        sheet.setValue(0, 2, "回款类型", GC.Spread.Sheets.SheetArea.colHeader);
        sheet.setValue(0, 3, "币种", GC.Spread.Sheets.SheetArea.colHeader);
        sheet.setValue(0, 4, "原币金额", GC.Spread.Sheets.SheetArea.colHeader);
        sheet.setValue(0, 5, "人命币金额", GC.Spread.Sheets.SheetArea.colHeader);
        sheet.setValue(0, 6, "回款日期", GC.Spread.Sheets.SheetArea.colHeader);
        sheet.setValue(0, 7, "付款方", GC.Spread.Sheets.SheetArea.colHeader);

        sheet.setValue(0, 0, "H0001");
        sheet.setValue(0, 1, "进度回款");
        sheet.setValue(0, 2, "工程款");
        sheet.setValue(0, 3, "USD");
        sheet.setValue(0, 4, "100000");
        sheet.setValue(0, 5, "700000");
        sheet.setValue(0, 6, "2017-5-29");
        sheet.setValue(0, 7, "张三");

        sheet.setValue(1, 0, "H0002");
        sheet.setValue(1, 1, "进度回款");
        sheet.setValue(1, 2, "工程款");
        sheet.setValue(1, 3, "USD");
        sheet.setValue(1, 4, "150000");
        sheet.setValue(1, 5, "1050000");
        sheet.setValue(1, 6, "2017-5-29");
        sheet.setValue(1, 7, "李四");

        sheet.setValue(2, 0, "H0003");
        sheet.setValue(2, 1, "进度回款");
        sheet.setValue(2, 2, "工程款");
        sheet.setValue(2, 3, "USD");
        sheet.setValue(2, 4, "200000");
        sheet.setValue(2, 5, "1400000");
        sheet.setValue(2, 6, "2017-5-29");
        sheet.setValue(2, 7, "王二");

        sheet.setValue(3, 0, "合计：");
        sheet.setValue(3, 1, "");
        sheet.setValue(3, 2, "");
        sheet.setValue(3, 3, "");
        sheet.setValue(3, 4, "");
        sheet.setValue(3, 5, "3150000");
        sheet.setValue(3, 6, "");
        sheet.setValue(3, 7, "");
        $.get('/CNYD_STRUCT_TREE/GetProInfo', function (result) {
            $("#Choise_PJ").select2({
                data: result.data,
                language: "zh-CN",
                placeholder: "请选择工程..."
            }).val(null).trigger("change");
        });

        $('#main_box').resize(function () {
            spread.refresh();
        });
        @*alert(@ViewBag.Create);*@
    });

    //添加行(10)
    $('#btn_add').click(function () {
        if (TA_ID != null)
        {
            var row = sheet.getRowCount();
            sheet.suspendPaint();
            sheet.addRows(row, 1);
            sheet.setValue(row, 1, TA_ID);
            sheet.setValue(row, 2, PJ_ID_);
            sheet.setValue(row, 7, 0);
            //BT号文本字段
            sheet.setFormatter(sheet.getRowCount() - 1, 3, '@@');
            //获取行数
            var count = sheet.getRowCount(GC.Spread.Sheets.SheetArea.viewport);
            //设置筛选
            var filter = new spreadNS.Filter.HideRowFilter(new spreadNS.Range(0, 0, count, 11));
            sheet.rowFilter(filter);
            sheet.resumePaint();
        }
    });
    //保存--脏数据
    $('#btn_Save').click(function () {

    });
    //删除行
    $('#btn_Delete').click(function () {

    });

    $('#btn_Flag').click(function () {

    });
    var setting = {
        view: { selectedMulti: false },
        data: { simpleData: { enable: true } },
        onClick: zTreeOnClick,
	    callback: { onClick: zTreeOnClick }
    };

    //点击树节点
    function zTreeOnClick(event, treeId, treeNode) {
        sheet = spread.getActiveSheet();
        TA_ID = treeNode.id;
        $.post("/MaterReq/GetData", { 'TA_ID': treeNode.id }, function (result) {
            if (result.Data.length > 0) {
                sheet.autoGenerateColumns = false;
                sheet.bindColumns(colInfos);
                sheet.setDataSource(result.Data);
                if (result.Flag) {
                    $('#btn_Flag,#btn_add,#btn_Save,#btn_Delete').prop("disabled", true);
                    $('#txt_Status').text('完成');
                } else
                {
                    $('#btn_Flag,#btn_add,#btn_Save,#btn_Delete').prop("disabled", false);
                    $('#txt_Status').text('未完成');
                }
                Filter(sheet);
            } else {

                $('#txt_TA_Code').val(treeNode.title);
                $('#txt_TA_Name').val(treeNode.name);
                if (result.Flag) {
                    $('#btn_Flag,#btn_add,#btn_Save,#btn_Delete').prop("disabled", true);
                    $('#txt_Status').text('完成');
                } else {
                    $('#btn_Flag,#btn_add,#btn_Save,#btn_Delete').prop("disabled", false);
                    $('#txt_Status').text('未完成');
                }
                sheet.autoGenerateColumns = false;
                sheet.bindColumns(colInfos);
                sheet.setDataSource(result.Data);
                Filter(sheet);
            }
        });
    }

    function Filter(sheet) {
        //获取行数
        var count = sheet.getRowCount(GC.Spread.Sheets.SheetArea.viewport);
        //设置筛选
        var filter = new spreadNS.Filter.HideRowFilter(new spreadNS.Range(0, 0, count, 11));
        sheet.rowFilter(filter);
    }

    $('#treeview4').treeview({
        color: "#428bca",
        data: defaultData
    });

</script>
