@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/AdminLTE.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Skin/skin-blue.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/font-awesome/font-awesome.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/SpreadJS_CSS/gc.spread.sheets.excel2016colorful.10.0.1.css")" rel="stylesheet" />
@*<link href="@Url.Content("~/Content/SpreadJS_CSS/gcspread.sheets.excel2016colorful.9.40.20161.0.css")" rel="stylesheet" />*@
<link href="@Url.Content("~/Content/Tree/metroStyle.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/select2/select2.min.css")" rel="stylesheet" />
<div class="row">
    <div class="col-md-12" id="main_box">
        <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
                <h4 class="box-title" style="float:left;margin-top:5px">3D模型(json)：</h4>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fa fa-comments"></i>
                    </button>
                </div>
            </div>
            <div class="box-body box-profile">
                <div style="float:left">
                    <canvas id="mainCanvas" style="width:800px;height:600px"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jQuery-2.2.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/dist/app.min.js"></script>
<script src="~/Scripts/Threejs/three.js"></script>
<script src="~/Scripts/Threejs/OBJLoader.js"></script>

<!--jq 增强div resize-->
<script src="~/Scripts/resize.js"></script>
<script type="text/javascript">
            var scene = null;
            var camera = null;
            var renderer = null;

            var mesh = null;
            var id = null;
            $(function () {
                init();
            });
            function init() {
                renderer = new THREE.WebGLRenderer({
                    canvas: document.getElementById('mainCanvas'),antialias:true
                });
                renderer.setClearColor(0x000000);
                scene = new THREE.Scene();
                var r = 1;
                camera = new THREE.OrthographicCamera(-5 * r, 5 * r, 3.75 * r, -3.75 * r, 0.1, 100);
                camera.position.set(15, 25, 25);
                camera.lookAt(new THREE.Vector3(0, 0, 0));
                scene.add(camera);

                var loader = new THREE.ObjectLoader();
                loader.load('@Url.Content("~/Images/teapot-claraio.json")', function (obj) {
                    scene.add(obj);
                });
                var light = new THREE.DirectionalLight(0xffffff);
                light.position.set(20, 10, 5);
                scene.add(light); 

                id = setInterval(draw, 20);
            }

            function draw() {
                renderer.render(scene, camera);
            }
</script>
