@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/AdminLTE.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Skin/skin-blue.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/font-awesome/font-awesome.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/SpreadJS_CSS/gc.spread.sheets.excel2016colorful.10.0.1.css")" rel="stylesheet" />
@*<link href="@Url.Content("~/Content/SpreadJS_CSS/gcspread.sheets.excel2016colorful.9.40.20161.0.css")" rel="stylesheet" />*@
<link href="@Url.Content("~/Content/Tree/metroStyle.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/select2/select2.min.css")" rel="stylesheet" />
<div class="row">
    <div class="col-md-12" id="main_box">
        <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
                <h4 class="box-title" style="float:left;margin-top:5px">选择工程：&nbsp;&nbsp;</h4>
                <div style="width:200px;float:left">
                    <select class="form-control js-example-basic-single" style="width : 100%" id="Choise_PJ"></select>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fa fa-comments"></i>
                    </button>
                </div>
            </div>
            <div class="box-body box-profile">
                <div style="float:left;width:250px;margin-left:10px;margin-bottom:10px">
                    <div>
                        <h5>工程-TA代码:</h5>
                    </div>
                    <div>
                        <ul id="treeDemo" class="ztree"
                            style="-moz-user-select: none;margin-top: 10px;
                    border: 1px solid #617775;
                    background: #f0f6e4;
                    width: 240px;
                    height: 680px;
                    overflow-y: scroll;
                    overflow-x: auto;"></ul>
                    </div>
                </div>
                <div style="float:left; margin-left:1px; width:calc(100% - 280px); margin-top:5px;">

                    <div class="btn-group" style='width: 100%; margin-left:1px;margin-top:5px; '>
                        @*<button class="btn btn-app" type="button" id="btn_add">
                            <span class="fa fa-plus"></span>&nbsp;添加
                        </button>*@
                        @*<button class="btn btn-app" type="button" id="btn_Save">
                            <span class="fa fa-save"></span>&nbsp;保存
                        </button>
                        <button class="btn btn-app " type="button" id="btn_Delete">
                            <span class="fa fa-times"></span>&nbsp;删除
                        </button>*@
                        <button class="btn btn-app " type="button" id="Clear">
                            <span class="fa fa-bookmark"></span>&nbsp;确认
                        </button>
                    </div>
                    <div id='MianSpread' style='width: 100%; height: 600px;'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jQuery-2.2.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/dist/app.min.js"></script>
<script src="~/Scripts/SpreadJS/gc.spread.sheets.all.10.0.1.min.js"></script>
<script src="~/Scripts/SpreadJS/gc.spread.excelio.10.0.1.min.js"></script>
<script src="~/Scripts/SpreadJS/gc.spread.sheets.resources.zh.10.0.1.min.js"></script>
<!--jq 增强div resize-->
<script src="~/Scripts/resize.js"></script>
<!--ztree-->
<script type="text/javascript" src="~/Scripts/TreeView/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="~/Scripts/TreeView/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="~/Scripts/TreeView/jquery.ztree.exedit.min.js"></script>
<script src="~/Scripts/select2/select2.min.js"></script>
<script src="~/Scripts/select2/zh-CN.js"></script>
<script type="text/javascript">
    var spreadNS = GC.Spread.Sheets;
    var spread;
    var sheet;
    var TA_ID;
    var PJ_ID_;
    var colInfos = [
        { name: 'ID', size: 20, visible: false },
        { name: 'TA_ID', size: 20, visible: false },
        { name: 'Pro_ID', size: 20, visible: false },
        { name: 'BT_Code', displayName: 'BT编号', size: 80, visible: true, formatter:Text },
        { name: 'Description_EN', displayName: 'BT英文描述', size: 140, formatter: Text },
        { name: 'Description_CN', displayName: 'BT中文描述', size: 140, formatter: Text },
        { name: 'Units', displayName: '单位', size: 60, resizable: false, formatter: Text },
        { name: 'Qty', displayName: '数量', size: 60, resizable: false, formatter: Number },
        { name: 'Drawing', displayName: '图号', size: 100, resizable: true, formatter: Text },
        { name: 'Comments', displayName: '备注', size: 150, resizable: true, formatter: Text },
        { name: 'Dimension', displayName: '规格尺寸', size: 100, resizable: true, formatter: Text },
        { name: 'Specification', displayName: '材质、型号', size: 100, resizable: true, formatter: Text }
    ];
    $(function () {
        spread = new GC.Spread.Sheets.Workbook(document.getElementById('MianSpread'), { sheetCount: 1 });
        //spread.options.allowCopyPasteExcelStyle = false;
        excelIo = new GC.Spread.Excel.IO();
        sheet = spread.getActiveSheet();
        sheet.setColumnCount(8, GC.Spread.Sheets.SheetArea.viewport);

        $.get('/CNYD_STRUCT_TREE/GetProInfo', function (result) {
            $("#Choise_PJ").select2({
                data: result.data,
                language: "zh-CN",
                placeholder: "请选择工程..."
            }).val(null).trigger("change");
        });
        $("#Choise_PJ").on("select2:select", function (e) {
            PJ_ID_ = $("#Choise_PJ").val();
            $.get('/CNYD_STRUCT_TREE/GetTA_Struct', { 'PJ_ID_': PJ_ID_ }, function (result) {
                if (result.data.length > 0) {
                    var setting = {
                        view: { selectedMulti: false }
                        , data: { simpleData: { enable: true }, key: { title: "title" } }
                        , onClick: zTreeOnClick
                        , callback: { onClick: zTreeOnClick }
                    };
                    $.fn.zTree.init($("#treeDemo"), setting, result.data);
                }
            });
        });
        $('#main_box').resize(function () {
            spread.refresh();
        });
        //$.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });

    //添加行(10)
    $('#btn_add').click(function () {
        var row = sheet.getRowCount();
        sheet.suspendPaint();
        sheet.addRows(row, 1);
        sheet.setValue(row, 1, TA_ID);
        sheet.setValue(row, 2, PJ_ID_);
        sheet.setValue(row, 7, 0);
        //BT号文本字段
        sheet.setFormatter(sheet.getRowCount() - 1, 3, '@@');
        //获取行数
        var count = sheet.getRowCount(GC.Spread.Sheets.SheetArea.viewport);
        //设置筛选
        var filter = new spreadNS.Filter.HideRowFilter(new spreadNS.Range(0, 0, count, 11));
        sheet.rowFilter(filter);
        sheet.resumePaint();
	});
    //保存--脏数据
	$('#btn_Save').click(function () {
	    var Addrows = sheet.getInsertRows();
	    var Additems = JSON.stringify(Addrows.map(function (row) { return row.item; }));
	    var Changerows = sheet.getDirtyRows();
	    var Changeitems = JSON.stringify(Changerows.map(function (row) { return row.item; }));
	    var DeletedRows = sheet.getDeletedRows();
	    var Deleteditems = JSON.stringify(DeletedRows.map(function (row) { return row.item; }));
	    $.post("/MaterReq/Save", { 'AddJson': Additems, 'ChangeJosn': Changeitems, 'DeleteJosn': Deleteditems },
            function (Mess) {
                alert('保存成功！');
	    });
	});
    //删除行
	$('#btn_Delete').click(function () {
	    sheet.suspendPaint();
	    sheet.deleteRows(sheet.getActiveRowIndex(), 1); //行与列&选择单元格
	    sheet.resumePaint();
	});

	var setting = {
		view: {
		    selectedMulti: false
		    //,addHoverDom: addHoverDom
		    //,removeHoverDom: removeHoverDom
		}
		//,check: {enable: true}
		, data: { simpleData: { enable: true } }
        , onClick: zTreeOnClick
	    , callback: {
	        onClick: zTreeOnClick
	    }
		//,edit: {enable: true}
	};

    //点击树节点
	function zTreeOnClick(event, treeId, treeNode) {
	    sheet = spread.getActiveSheet();
	    TA_ID = treeNode.id;
	    sheet.setRowCount(3);
	    sheet.setValue(0, 0, "任务编号", GC.Spread.Sheets.SheetArea.colHeader);
	    sheet.setValue(0, 1, "任务名称", GC.Spread.Sheets.SheetArea.colHeader);
	    sheet.setValue(0, 2, "任务实际开始时间", GC.Spread.Sheets.SheetArea.colHeader);
	    sheet.setValue(0, 3, "任务实际结束时间", GC.Spread.Sheets.SheetArea.colHeader);
	    sheet.setValue(0, 4, "负责人", GC.Spread.Sheets.SheetArea.colHeader);
	    sheet.setValue(0, 5, "任务暂停", GC.Spread.Sheets.SheetArea.colHeader);
	    sheet.setValue(0, 6, "备注", GC.Spread.Sheets.SheetArea.colHeader);
	    sheet.setValue(0, 7, "未按时完成原因", GC.Spread.Sheets.SheetArea.colHeader);
	    sheet.setColumnWidth(0, 80);
	    sheet.setColumnWidth(1, 100);
	    sheet.setColumnWidth(2, 120);
	    sheet.setColumnWidth(3, 120);
	    sheet.setColumnWidth(4, 60);
	    sheet.setColumnWidth(5, 60);
	    sheet.setColumnWidth(6, 200);
	    sheet.setValue(0, 0, 'R001');
	    sheet.setValue(1, 0, 'R002');
	    sheet.setValue(2, 0, 'R003');
	    sheet.setValue(0, 1, '招标');
	    sheet.setValue(1, 1, '采购');
	    sheet.setValue(2, 1, '入库');
	    sheet.setValue(0, 2, '2017-7-2');
	    sheet.setValue(1, 2, '2017-7-13');
	    sheet.setValue(2, 2, '2017-8-1');
	    sheet.setValue(0, 3, '2017-7-12');
	    sheet.setValue(1, 3, '2017-7-31');
	    sheet.setValue(2, 3, '2017-8-30');
	    sheet.setValue(0, 7, '');
	    sheet.setValue(1, 7, '');
	    sheet.setValue(2, 7, '供应商未按时交货。');

	}

	function Filter(sheet)
	{
	    //获取行数
	    var count = sheet.getRowCount(GC.Spread.Sheets.SheetArea.viewport);
	    //设置筛选
	    var filter = new spreadNS.Filter.HideRowFilter(new spreadNS.Range(0, 0, count, 11));
	    sheet.rowFilter(filter);
	}

	function removeHoverDom(treeId, treeNode) {
		$("#addBtn_" + treeNode.tId).unbind().remove();
	};

	$('#treeview4').treeview({
		color: "#428bca",
		data: defaultData
	});

</script>
